.right {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    height: 100px;
    width: 100px;
}

.table {
    display: flex;
    flex-direction: column;

    height: 450px;
    width: 450px;
    padding: 15px;
    border-radius: 7%;

    background-color: rgba(255, 255, 255);

    animation: appear ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        translate: -50vw 0;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

th {
    text-align: left;
    padding: 6px 0;
    border-bottom: 1px solid rgb(110, 105, 105);
}